body {
  font-family: 'heading_bold';
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  border: 2px;
  background-color: #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 2;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px 0px;
}

nav ul li a {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #F7E02C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a img {
  width: 7em;
}

.header--transparente {
  position: absolute;
  border: 2px;
  background-color: transparent;
  width: 100%;
  z-index: 2;
}

.header--transparente nav ul li a {
  color: #000;
}

.header--transparente nav ul li a:hover {
  color: #fff;
}

h1 {
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size: 2em;
}

a {
  text-decoration: none;
}

p {
  color: #00296B;
  font-weight: 400;
}

h2 {
  color: #f53729d0;
  font-weight: 400;
}

caption {
  caption-side: top;
  color: #000;
  text-align: center;
}

form {
  text-align: center;
  color: #000;
}

textarea {
  font-family: sans-serif;
  width: 35%;
  height: 10em;
  resize: none;
  overflow: auto;
}

section img {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

p.footer {
  font-style: italic;
  color: #fff;
  margin: 0;
  padding: 0;
}

.ancho {
  width: 7em;
}

.lista__cotizar {
  font-weight: bold;
  list-style: none;
  text-align: left;
}

.titulo__portafolio {
  margin-top: 20px;
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size: 2em;
}

.contenedor__arachis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contenedor__arachis a:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.numeros {
  font-family: 'Fjalla One';
}

.p--negro {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.fa-bars {
  color: #fff;
}

.contenedor {
  width: 100%;
  margin: auto;
}

.galeria--columna img {
  width: 100%;
  height: 100%;
}

.galeria .contenedor {
  display: -ms-grid;
  display: grid;
}

.fab {
  color: #fff;
  margin-right: .5em;
}

.a--blanco {
  color: #fff;
}

.a--blanco:hover {
  color: #fff;
}

.temporal {
  height: 70vh;
}

.hide {
  display: none;
}

.background__card--azul {
  background: #22d3ee;
  background: -webkit-gradient(linear, left top, left bottom, from(#22d3ee), to(#0ea5e9));
  background: linear-gradient(180deg, #22d3ee 0%, #0ea5e9 100%);
}

.background__card--naranja {
  background: #fb923c;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb923c), to(#db2777));
  background: linear-gradient(180deg, #fb923c 0%, #db2777 100%);
}

.background__card--verde {
  background: #bef264;
  background: -webkit-gradient(linear, left top, left bottom, from(#bef264), to(#10b981));
  background: linear-gradient(180deg, #bef264 0%, #10b981 100%);
}

.button--negro {
  color: #fff !important;
  background-color: #000;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.error404 {
  font-size: 5em;
}

.relativo--h2 {
  background: -webkit-linear-gradient(90deg, #dde737 0%, #00d4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 12em;
  left: 1.7em;
}

.relativo--h3 {
  background: -webkit-linear-gradient(90deg, #e73737 0%, #4000ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 15em;
  left: 2em;
}

footer {
  margin-top: auto;
  padding: 3em 2em;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer div {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer div:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 0px) {
  main {
    margin: 1em;
  }
  .galeria .contenedor {
    -ms-grid-columns: (33.3%)[3];
        grid-template-columns: repeat(3, 33.3%);
  }
  .navbar--normal {
    display: none;
  }
  .banner {
    display: none;
  }
  .logo__arachis {
    width: 7em;
  }
}

@media only screen and (min-width: 576px) {
  .galeria .contenedor {
    -ms-grid-columns: (33.3%)[3];
        grid-template-columns: repeat(3, 33.3%);
  }
  .navbar--normal {
    display: none;
  }
  .navbar-responsive {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .galeria .contenedor {
    -ms-grid-columns: (33.3%)[3];
        grid-template-columns: repeat(3, 33.3%);
  }
  .banner {
    display: block;
  }
  .banner--responsive {
    display: none;
  }
  .navbar--responsive {
    display: none;
  }
  .navbar--normal {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .galeria .contenedor {
    -ms-grid-columns: (33.3%)[3];
        grid-template-columns: repeat(3, 33.3%);
  }
  .navbar-responsive {
    display: none;
  }
  .navbar--normal {
    display: block;
  }
  .logo__arachis {
    width: 10em;
  }
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
